body, div {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 상하단 고정 */
header {
  background-color: rgba(256,256,256,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  border-bottom: 1px solid #eaeaea;
}

/* 상단 SNS 메뉴 아이콘 */
.topbar {
  overflow: hidden;
  background-color: none;
  border-bottom: 1px solid #eaeaea;
}

.icon {
  margin: 0 auto;
  max-width: 1280px;
}

.topbar a {
  float: right;
  padding: 5px;
}

#logo a {
  padding: 20px 20px 20px 0px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container - 더피치, 제품기술, 커뮤니티 */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  min-width: 160px;
  padding: 40px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
/* .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
} */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: none;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  margin-bottom: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  font-size: 15px;
  color: black;
  padding: auto;
  text-decoration: none;
  display: block;
  text-align: center;
  z-index: 1;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #6879ba;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* 메인 이미지 */
.upperimg img {
  display: block;
  margin: 0px auto;
  padding-top: 148px;
  width: 1800px;
}

.footer {
/* 컨텐츠 양 없을 때 하단 20*/
/*
  position: absolute;
  bottom: 0;
*/
  width: 100%;
  margin: 0 auto;
  background-color: #414953;
  padding-top: 75px;
  padding-bottom: 75px;
  color: white;
  font-weight: lighter;
  font-size: 13px;
  line-height: 1.75;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/* 탭 메뉴 */
.tab-cont {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tab-cont a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

li a {
  display: block;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
}

ul.tabs li {
  margin: auto 0;
  padding: 15px;
  display: inline-block;
  width: 30%;
  cursor: pointer;
  border: 1px solid #eaeaea;
  text-align: center;
}

ul.tabs li.current {
  background-color: #6879ba;
}

ul.tabs li.current a {
  color: white;
}


/* -------------------------------------------------------------------------- */
/* cont, sec01 */
.cont {
  width: 1280px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 95px;
}

.cont01 h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 10px;
}

/* -------------------------------------------------------------------------- */
/* CI, wayto */
.ci_wrap, .wayto {
  width: 1280px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 95px;
  text-align: center;
}

.ci_title, .map_title {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -0.23px;
}

.symbol img {
/*
가운데정렬
  display: block;
  margin: 0px auto;
*/
  padding-top: 40px;
  padding-bottom: 40px;
}

.symbol, .signature {
  padding-bottom: 60px;
  border-bottom: 1px solid #eaeaea;
}

.signature_title, .color_title {
  margin-top: 60px;
  font-size: 24px;
  letter-spacing: -0.23px;
}

.signature_cont {
  padding-top: 20px;
  padding-bottom: 40px;
}

.color_text {
  padding-top: 10px;
  padding-bottom: 30px;
}

.ci_wrap p {
  font-weight: 300;
}

.color_cont {
  padding-bottom: 40px;
}

.map {
  width: 1280px;
  margin: 0 auto;
}
  
