body, div {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 상하단 고정 */
header {
  background-color: rgba(256,256,256,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  border-bottom: 1px solid #eaeaea;
}

/* 상단 SNS 메뉴 아이콘 */
.topbar {
  overflow: hidden;
  background-color: none;
  border-bottom: 1px solid #eaeaea;
}

.icon {
  margin: 0 auto;
  max-width: 1280px;
}

.topbar a {
  float: right;
  padding: 5px;
}

#logo a {
  padding: 20px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.burger {
  display: none;
  cursor: pointer;
}

/* The dropdown container - 더피치, 제품기술, 커뮤니티 */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  min-width: 160px;
  padding: 40px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
/* .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
} */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: none;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  margin-bottom: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  font-size: 15px;
  font-weight: 400;
  color: black;
  padding: auto;
  text-decoration: none;
  display: block;
  text-align: center;
  z-index: 1;
}

/* Add background color to dropdown links on hover */
.dropdown-content a:hover {
  color: gray;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* -------------------------------------------------------------------------- */
/* 메인 이미지 */
/* 모바일일때 width 100% 추가 */
.maincont {
  width: 100%;
  display: block;
  margin: 0px auto;
  margin-top: 148px;
  position: relative;
  text-align: center;
}

.mainimg {
  width: 100%;
  min-height: 800px;
  background-image: url("img/main2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.maintext h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 46px;
  letter-spacing: -0.23px;
}

/* 메인 비주얼 :: 텍스트 */
.main-visual-txt-con {
  position: absolute;
  /* 이미지 정가운데 텍스트 정렬 */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index:9;
}

.main-visual-txt-con .main-visual-txt1 { display:block; font-size:17px; letter-spacing:-0.25px; color:rgba(255,255,255,0.6); margin-bottom:2px; opacity:0.6; line-height:1.5; word-break:keep-all; }
.main-visual-txt-con .main-visual-txt1 em { font-weight:500; }
.main-visual-txt-con .main-visual-txt2 { font-size:36px; letter-spacing:0; color:#fff; line-height:0.9; margin: 0px; word-break:keep-all; text-transform:uppercase; }
.main-visual-txt-con .main-visual-txt2 em { font-family: 'Poppins', sans-serif; font-weight:700; }

/* 메인 비주얼 :: 텍스트 active 효과 */
.main-visual-txt-con .main-visual-txt1, .main-visual-txt-con .main-visual-txt2 { opacity:0; position:relative; transition:all 0.5s; overflow:hidden; }
.main-visual-txt-con .main-visual-txt1 em, .main-visual-txt-con .main-visual-txt2 em { position:relative; }

#mainVisual.active .main-visual-txt-con .main-visual-txt1, #mainVisual.active .main-visual-txt-con .main-visual-txt2 { opacity:1.0;}
#mainVisual.active .main-visual-txt-con .main-visual-txt2 em{
	animation: text-active-animation 1s cubic-bezier(.5, 0, .5, 1) both;
}
#mainVisual.active .main-visual-txt-con .main-visual-txt1 em{
	animation: text-active-animation 1s cubic-bezier(.5, 0, .5, 1) both 0.5s;
}
@keyframes text-active-animation {
	from {
		opacity:0;filter:Alpha(opacity=0);
		top:1em;
	}
	to {
		opacity:1.0;filter:Alpha(opacity=100);
		top:0;
	}
}

em {
  font-style: normal;
}

/* -------------------------------------------------------------------------- */
/* footer */
.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #414953;
  padding-top: 75px;
  padding-bottom: 75px;
  color: white;
  font-weight: lighter;
  font-size: 13px;
  line-height: 1.75;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/* cont, sec01 */
.cont {
  width: 1280px;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 130px;
}

.cont01 h2 {
  margin-bottom: 10px;
}

.cont01 h2 img{
  height: 75px;
}

.cont .cont01 > p {
  font-size: 17px;
  font-weight: normal;
  line-height: 1.55;
  margin-top: 10px;
}

/* -------------------------------------------------------------------------- */
/* 3단 이미지 관련 */
.bx-wrapper {
  max-width: 1280px;
}

.bx-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 442px;"
}

.main_fac {
  position: relative;
}

.main_fac .bx-wrapper .bx-viewport {
  height: auto !important;
  position: relative;
  margin: 0 auto;
  padding: 80px 0 40px;
  text-align: center;
}

.main_fac ul li {
  border: 1px solid #c4c4c4;
  height: 442px;
  position: relative;
}

ul {
  position: relative;
  transition-duration: 0s;
  transform: translate3d(0px, 0px, 0px);
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.main_fac ul li {
  float: left;
  list-style: none;
  position: relative;
  width: 360px;
  margin-right: 25px;"
}

.main_fac ul li a {
  position:absolute;
  left: 0;
  right: 0;
  bottom: -15px;
}

.main_fac ul li:last-child {margin-right: 0;}
.main_fac ul li small {font-size: 14px; color: #4f4f4f; font-weight: 300;}

.main_fac p {
  font-size: 18px;
  margin-top: 10px;
}

.main_fac_bg {
  height: 300px;
  margin-bottom: 25px;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -o-background-size: cover !important;
  -moz-background-size: cover !important;
}

.main_fac_bg.fac01 {background: url(img/sol01.png) no-repeat;}
.main_fac_bg.fac02 {background: url(img/sol02.png) no-repeat;}
.main_fac_bg.fac03 {background: url(img/sol03.png) no-repeat;}

.view {
  margin-top: 23px;
  font-size: 12px;
  background: #fff;
  padding: 5px 35px;
  border: 1px solid #bcbcbc;
  color: #666;
  letter-spacing: 0.2px;
}

.view.mgt {
  margin-top: 13px;
}

li a{
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/* sec02 */
/* sec02 텍스트 정렬 */
.cont02 {
  float: left;
  width: 460px;
}

.cont02 h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.cont02 h2 img{
  height: 75px;
  float: right;
}

.cont .cont02 > p {
  font-size: 17px;
  font-weight: normal;
  line-height: 1.55;
  margin-top: 10px;
  color: #808080;
}

.cus02 {
  background-color: #fafafa;
  text-align: center;
}

.cus_bg {
  margin: 0 auto;
  padding-top: 130px;
  text-align: center;
  width: 1280px;
}

.cus_title {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -0.23px;
}

.cus_cont {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.github, .call {
  width: 50%;
}

.github {
  float: left;
}

.call {
  float: right;
}

.cus_text {
  margin: 0;
  color: #808080;
  padding-top: 10px;
  padding-bottom: 30px;
}

.cus02 img {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-bottom: 130px;
}

/* -------------------------------------------------------------------------- */
/* 메일 보내기 */
aside {
  background: #1f8dd6; /* same color as selected state on site menu */
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 2em;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.is-center {
  text-align: center;
}

.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #2EA7E0;
}

.button-xlarge {
  font-size: 125%;
}

.form-elements {
  width: 55%;
  float: right;
  border-top: 5px solid #5f5f5f;
  border-bottom: 1px solid #ccc;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 10px;
}

.form-elements button {
  float: right;
}

#name, #email, #phone {
  float: right;
  width: 87%
}

textarea {
  width: 87%;
  float: right;
}

.pure-form label {
  float: left;
  width: 10%;
}

.honeypot-field {
  display: none;
}

/* float 취소하기 */
.clear {
  clear: both;
}

/*----------------------------------------------------------------------------*/
/*반응형웹-스마트폰*/
@media (min-width : 320px) and (max-width : 820px) {
  .navbar { width: 100%; float: left; text-align: center; }
  .navbar a { float: none; }
  .topbar { display: none; }
  .topbar a { display: none; }
  #logo { padding: 20px auto; }
  #logo img { width: 120px; margin: 20px auto; }
  .dropdown { width: 33%;}
  .dropdown .dropbtn { font-size: 14px; min-width: 107px; padding: 20px; }
  .dropdown-content { min-width: 107px; }
  .main-visual-txt-inner .main-visual-txt1 { display: none; }
  .main_fac_bg { background-position: center !important; }
  .mainimg { width: 100%; min-height: 400px; }
  .cont02 { width: 100%; text-align: center; }
  .cus_bg { width: 100%; padding: 60px 30px; }
  .github, .call { width: 100%; }
  .github img, .call img { width: 100%; }
  .cus02 img { margin: 0; }
  .github img { margin-bottom: 50px; }
  .bx-viewport { padding-top: 40px !important; padding-bottom: 0 !important; text-align: center; }
  .bx-viewport, .bx-wrapper { width: 100%; }
  .main_fac ul { margin: 0; width: 100%; }
  .main_fac ul li { float: none; width: 99%; height: auto; margin-bottom: 40px; margin-right: 0; }
  .main_fac ul li p { padding-top: 10px; padding-bottom: 30px; }
  .cont { width: 100%; padding: 60px 30px; }
  .form-elements { width: 100%; }
  .pure-form label { display: none; }
  #name, #email, #phone, #message { width: 100%; }
  p { font-size: 15px; margin: 0 !important; }
  .cont .cont02 > p { font-size: 15px; }
  .cont .cont01 > p { font-size: 15px; }
  .footer { padding: 75px 30px; }
}

/*반응형웹-테블릿*/
@media (min-width : 821px) and (max-width : 1280px) {
  .navbar { width: 100%; }
  .topbar .icon { width: 100%; }
  .mainimg { width: 100%; }
  .cont02 { width: 100%; text-align: center; }
  .cus_bg { width: 100%; }
  .github, .call { width: 50%; }
  .bx-viewport { width: 100%; }
  .bx-wrapper { width: 100%; }
  .cont { width: 100%; padding: 120px 60px; }
  .form-elements { width: 100%; }
  .main_fac ul { margin: 0; width: 100%; }
  .main_fac ul li { float: left; width: 31%; height: auto; margin-bottom: 30px; margin: 0 5px; }
  .main_fac ul li:last-child { margin-right: 0; }
  .main_fac ul li p { padding-top: 10px; padding-bottom: 10px; }
}
