body, div {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 상하단 고정 */
header {
  background-color: rgba(256,256,256,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  border-bottom: 1px solid #eaeaea;
}

/* 상단 SNS 메뉴 아이콘 */
.topbar {
  overflow: hidden;
  background-color: none;
  border-bottom: 1px solid #eaeaea;
}

.icon {
  margin: 0 auto;
  max-width: 1280px;
}

.topbar a {
  float: right;
  padding: 5px;
}

#logo a {
  padding: 20px 20px 20px 0px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container - 더피치, 제품기술, 커뮤니티 */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  min-width: 160px;
  padding: 40px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
/* .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
} */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: none;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  margin-bottom: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  font-size: 15px;
  color: black;
  padding: auto;
  text-decoration: none;
  display: block;
  text-align: center;
  z-index: 1;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #6879ba;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* -------------------------------------------------------------------------- */
/* 메인 이미지 */
.maincont {
  max-width: 1800px;
  display: block;
  margin: 0px auto;
  margin-top: 148px;
  position: relative;
}

.maintext {
  line-height: 1.45;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.23px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -350px;
}

.maincont .maintext img {
  max-width: 700px;
}

/* -------------------------------------------------------------------------- */
/* footer */
.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #414953;
  padding-top: 75px;
  padding-bottom: 75px;
  color: white;
  font-weight: lighter;
  font-size: 13px;
  line-height: 1.75;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/* cont, sec01 */
.cont {
  width: 1280px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 145px;
}

.cont01 h2 {
  margin-bottom: 10px;
}

.cont01 h2 img{
  height: 75px;
}

.cont .cont01 > p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.75;
  margin-top: 10px;
  color: #000000;
}

/* -------------------------------------------------------------------------- */
/* 3단 이미지 관련 */
.bx-wrapper {
 max-width: 1280px;
}

.bx-viewport {
   width: 100%;
   overflow: hidden;
   position: relative;
   height: 442px;"
}

.main_fac {
  position: relative;
}

.main_fac .bx-wrapper .bx-viewport {
  height: auto !important;
  position: relative;
  margin: 0 auto;
  padding: 40px 0 40px;
  text-align: center;
}

.main_fac ul li {
  border: 1px solid #c4c4c4;
  height: 442px;
  position: relative;
}

ul {
  position: relative;
  transition-duration: 0s;
  transform: translate3d(0px, 0px, 0px);
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.main_fac ul li {
  float: left;
  list-style: none;
  position: relative;
  width: 360px;
  margin-right: 25px;"
}

.main_fac ul li a {
  position:absolute;
  left: 0;
  right: 0;
  bottom: -15px;
}

.main_fac ul li:last-child {margin-right: 0;}
.main_fac ul li small {font-size: 13.5px; color: #4f4f4f;}

.main_fac p {
  font-size: 18px;
  margin-top: 10px;
}

.main_fac_bg {
  height: 300px;
  margin-bottom: 25px;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -o-background-size: cover !important;
  -moz-background-size: cover !important;
}

.main_fac_bg.fac01 {background: url(img/sol01.png) no-repeat;}
.main_fac_bg.fac02 {background: url(img/sol02.png) no-repeat;}
.main_fac_bg.fac03 {background: url(img/sol03.png) no-repeat;}

.view {
  margin-top: 23px;
  font-size: 12px;
  background: #fff;
  padding: 5px 35px;
  border: 1px solid #bcbcbc;
  color: #666;
  letter-spacing: 0.2px;
}

.view.mgt {
  margin-top: 13px;
}


/* -------------------------------------------------------------------------- */
/* sec02 */

/* sec02 중간 이미지 */
.centerimg img {
  display: block;
  margin: 0px auto;
  width: 1800px;
}

/* sec02 텍스트 정렬 */
.cont02 h2 {
  margin-bottom: 10px;
}

.cont02 h2 img{
  height: 75px;
  float: right;
}

.cont .cont02 > p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.75;
  margin-top: 10px;
  color: #000000;
  text-align: right;
}

/* 메일 폼 */
.write_form {
  margin-top: 100px;
  width: 56%;
  min-height: 300px;
  padding: 22px 0 25px;
}

.write_input {
  width: 100%;
  display: inline-block;
  zoom: 1;
  text-align: left;
  margin: 10px 0;
}

.wd_50 {
  float: left;
  width: 50%;
}

.write_input .wd_50 label span {
  display: block;
  width: 50px;
  float: left;
  margin: 7px 0;
  margin-right: 4%;
  font-size: 18px;
  color: #000;
  white-space: nowrap;
}

.write_input label span {
  display: block;
  width: 50px;
  float: left;
  margin: 7px 0;
  margin-right: 2%;
  font-size: 18px;
  color: #000;
  white-space: nowrap;
}

.write_input .w_88 {
  width: 22%;
}

.write_input .w_186 {
  width: 186px;
}

.write_input input {
  height: 43px;
  border: 1px solid #dddddd;
}

.write_input label select {
  width: 123px;
  height: 43px;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 18px;
}

.write_input textarea {
  width: 90%;
  height: 100px;
  border: 1px solid #dddddd;
}

label {
  vertical-align: middle;
  font-size: 1em;
}

/* 버튼 */
.inquiry_write_wrap .inquiry_btn {
  transition: 0.3s;
  display: block;
  text-align: center;
  width: 180px;
  height: 47px;
  margin: 20px 0;
  padding: 10px 0;
  font-size: 18px;
  border: none;
  background: #28a7e1;
  color: #fff;
}

.inquiry_write_wrap .inquiry_btn:hover {
  background: #fff;
  border: 1px solid #28a7e1;
  color: #28a7e1;
}

/* -------------------------------------------------------------------------- */
/* 슬라이드 관련 */
/*
.slideshow-container {
  max-width: 1800px;
  margin: auto 0;
  position: relative;
  display: block;
  margin: 0px auto;
  margin-top: 145px;
}
*/

/* float 취소하기 */
.clear {
  clear: both;
}

/*
.slideshow-container .mySlides img {
  height: 400px;
}
*/

/* Hide the images by default */
/*
.mySlides {
  display: none;
}
*/

/* Next, previous buttons */
/*
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
*/

/* Position the "next button" to the right */
/*
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
*/

/* On hover, add a black background color with a little bit see-through */
/*
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
*/

/* Caption text */
/*
.slidetext {
  font-weight: bold;
  line-height: 1.45;
  color: #000000;
  font-size: 46px;
  position: absolute;
  top: 50%;
*/
  /* 두 줄이니까 한줄만큼 위로 당겨 세로 가운데 정렬 */
/*
  margin-top: -46px;
  width: 100%;
  text-align: center;
}
*/

/* The dots/bullets/indicators */
/*
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: none;
  border-radius: 50px;
  display: inline-block;
  transition: background-color 0.6s ease;
}
*/

/*
.active, .dot:hover {
  background-color: none;
}
*/

/* Fading animation */
/*
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}
*/
