body, div {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 상하단 고정 */
header {
  background-color: rgba(256,256,256,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  border-bottom: 1px solid #eaeaea;
}

/* 상단 SNS 메뉴 아이콘 */
.topbar {
  overflow: hidden;
  background-color: none;
  border-bottom: 1px solid #eaeaea;
}

.icon {
  margin: 0 auto;
  max-width: 1280px;
}

.topbar a {
  float: right;
  padding: 5px;
}

#logo a {
  padding: 20px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container - 더피치, 제품기술, 커뮤니티 */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  min-width: 160px;
  padding: 40px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
/* .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
} */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: none;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  margin-bottom: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  font-size: 15px;
  color: black;
  padding: auto;
  text-decoration: none;
  display: block;
  text-align: center;
  z-index: 1;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  color: gray;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* -------------------------------------------------------------------------- */
/* 메인 이미지 */
.upperimg {
  display: block;
  margin: 0px auto;
  margin-top: 148px;
  width: 1800px;
  min-height: 350px;
  background-image: url("img/upper.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* -------------------------------------------------------------------------- */
/* footer */
.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #414953;
  padding-top: 75px;
  padding-bottom: 75px;
  color: white;
  font-weight: lighter;
  font-size: 13px;
  line-height: 1.75;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/* 탭 메뉴 */
.tab-cont {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tab-cont a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

li a {
  display: block;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
}

ul.tabs li {
  margin: auto 0;
  padding: 15px;
  display: inline-block;
  width: 30%;
  cursor: pointer;
  border: 1px solid #eaeaea;
  text-align: center;
}

ul.tabs li.current {
  border-bottom: none;
}

ul.tabs li.current a {
  color: #2EA7E0;
  font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/* cont, sec01 */
.product, .solution, .service {
  width: 1280px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 95px;
  text-align: center;
}

.solcont2 {
  width: 1280px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}

.pro_title, .sol_title, .ser_title {
  display: block;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -0.23px;
}

.solcont img, .solcont2 img, .sercont img {
  padding-top: 40px;
  width: 1280px;
}

.procont {
  text-align: center;
}

.procont img {
  padding: 40px 0;
  float: left;
}

h2 {
  margin: 0;
  padding-top: 160px;
  font-size: 32px;
}

h3 {
  margin: 0;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
}

.dan {
  float: left;
  width: 50%
}

.dan img {
  padding-top: 85px;
  padding-bottom: 60px;
}

.k1, .r1, .etc {
  display: block;
  padding: 0 10%;
  padding: 0 auto;
  border-top: 1px solid #eaeaea;
}

.pro_text {
  color: #808080;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: -0.23px;
  padding-bottom: 75px;
}

.table {
  padding: 0;
  padding-bottom: 80px;
  width: 100%;
  table-layout:fixed;
}

.table--min {
  min-width: 1000px;
}

td {
  width: 20%;
  border: 1px solid #777777;
  font-weight: normal;
  font-size: 15px;
  padding: 5px;
}

.etc td {
  border: 1px solid #ccc;
}

tr {
  border: none;
}

td img {
  padding: 0 !important;
  width: 100%;
}

.k1h, .r1h {
  float: left;
  width: 50%;
  padding-right: 15px;
  padding-bottom: 85px;
}

.k1h ul, .k1h li, .r1h ul, .r1h li {
  text-align: left;
  font-size: 15px !important;
}

.k1h ul, .r1h ul, .etc ul {
  padding: 0;
}

.etc li {
  color: #808080;
  list-style: none;
}

.k1h li, .r1h li, .etc li {
  padding: 0 !important;
  font-weight: normal;
}

.k1 li, .r1 li, .k1h li, .r1h li {
  padding: 10px 0;
  font-size: 18px;
  list-style: none;
}

.k1 li::before {
  content: "\2022";
  color: #ed798d;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.r1 li::before {
  content: "\2022";
  color: #2EA7E0;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.k1h li::before, .r1h li::before {
  display: none;
}

.k1h li, .r1h li {
  color: #808080;
}

.k1h ul::before {
  content: "\2022";
  color: #ed798d;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.r1h ul::before, .etc li::before  {
  content: "\2022";
  color: #2EA7E0;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.solution_bg {
  background-color: #fafafa;
  text-align: center;
}

.sol_text {
  margin: 0 auto;
  text-align: left;
  width: 1280px;
}

.sol_1, .sol_2 {
  width: 50%;
  float: left;
}

.sol_1 ul {
  padding-left: 30px;
}

.sol_2 ul {
  padding-left: 30px;
  margin-left: 55px;
}

.sol_1 ul, .sol_2 ul {
  font-size: 18px;
  font-weight: 500;
}

.sol_1 li, .sol_2 li {
  font-size: 16px;
  font-weight: normal;
  color: #808080;
  list-style: none;
  margin-left: 0px;
}

.sol_1 ul::before, .sol_2 ul::before {
  content: "\2022";
  color: #2EA7E0;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/*----------------------------------------------------------------------------*/
/*반응형웹-스마트폰*/
@media (min-width : 320px) and (max-width : 820px) {
  .navbar { width: 100%; float: left; text-align: center; }
  .navbar a { float: none; }
  .topbar { display: none; }
  .topbar a { display: none; }
  #logo { padding: 20px auto; }
  #logo img { width: 120px; margin: 20px auto; }
  .dropdown { width: 33%;}
  .dropdown .dropbtn { font-size: 14px; min-width: 107px; padding: 20px; }
  .dropdown-content { min-width: 107px; }
  .footer { padding: 75px 30px; }
  .upperimg { width: 100%; min-height: 150px !important; }
  .tabs { width: 100%; }
  .tabs li { width: 26% !important; padding: 15px 10px !important; }
  .tab-cont a { font-size: 14px; }
  .cont { width: 100%; padding: 60px 30px; }
  /*--------------------------------------------------------------------------*/
  .product, .solution, .solcont2, .sol_1, .sol_2, .service { width: 100%; padding: 40px 15px; }
  .sol_text, .dan { width: 100%; }
  .product img, .solution img, .solcont2 img, .service img { width: 100%; }
  .sol_1, .sol_2 { width: 100%; margin: 0; padding: 0 15px; }
  .sol_1 ul, .sol_2 ul { width: 100%; font-size: 17px; padding: 0; margin: 0; }
  .sol_1 li, .sol_2 li { width: 100%; font-size: 15px; padding-bottom: 5px; }
  .solcont img, .solcont2 img { padding: 10px 0; }
  .solution_bg { width: 100%; }
  .pro_title, .sol_title, .ser_title { font-size: 24px; }
  .dan { padding: 20px 0 !important; }
  .k1, .r1, .etc { padding: 0; }
  .table-box { overflow-x: auto; }
  .k1r1 { display: none; }
  .pro_text { text-align: justify; font-size: 16px; padding-top: 15px; padding-bottom: 60px; }
  .dan img { padding-bottom: 0; padding-top: 40px; width: 80% !important; padding: 0 10% !important;}
  .dan h2 { padding-top: 0; float: left !important; font-size: 26px !important; }
  .dan p { text-align: left !important; font-size: 17px !important; float: left !important; }
  .k1, .r1, .etc { border-top: none; }
  h3 { text-align: center !important; padding-left: 0 !important; }
}

/*반응형웹-태블릿*/
@media (min-width : 821px) and (max-width : 1280px) {
  .navbar { width: 100%; }
  .topbar .icon { width: 100%; }
  .upperimg { width: 100%; height: 350px; }
  .tabs { width: 100%; }
  .tabs li { width: 28% !important; }
  .tab-cont a { font-size: 14px; }
  /*--------------------------------------------------------------------------*/
  .product, .solution, .solcont2, .service { width: 100%; padding: 60px 30px; }
  .sol_text { width: 100%; }
  .solution img, .solcont2 img, { width: 100%; }
  .sol_1, .sol_2 { margin: 0; padding: 0; }
  .k1, .r1, .etc { padding: 0; }
  .sol_2 ul { padding-left: 0px; }
  .solcont img, .solcont2 img, .service img { width: 90%; }
  .table-box { overflow-x: auto; }
}
