body, div {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 상하단 고정 */
header {
  background-color: rgba(256,256,256,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  border-bottom: 1px solid #eaeaea;
}

/* 상단 SNS 메뉴 아이콘 */
.topbar {
  overflow: hidden;
  background-color: none;
  border-bottom: 1px solid #eaeaea;
}

.icon {
  margin: 0 auto;
  max-width: 1280px;
}

.topbar a {
  float: right;
  padding: 5px;
}

#logo a {
  padding: 20px 20px 20px 0px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container - 더피치, 제품기술, 커뮤니티 */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  min-width: 160px;
  padding: 40px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
/* .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
} */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: none;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  margin-bottom: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  font-size: 15px;
  color: black;
  padding: auto;
  text-decoration: none;
  display: block;
  text-align: center;
  z-index: 1;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  color: #2EA7E0;
  font-weight: 600;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* -------------------------------------------------------------------------- */
/* footer */
.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #414953;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  font-weight: lighter;
  font-size: 12px;
  line-height: 1.75;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/* 메인 이미지 */
.upperimg img {
  display: block;
  margin: 0px auto;
  padding-top: 148px;
  width: 1800px;
}

/* -------------------------------------------------------------------------- */
/* 탭 메뉴 */
.tab-cont {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tab-cont a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

li a {
  display: block;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
}

ul.tabs li {
  margin: auto 0;
  padding: 15px;
  display: inline-block;
  width: 45%;
  cursor: pointer;
  border: 1px solid #eaeaea;
  text-align: center;
}

ul.tabs li.current {
  border-bottom: none;
}

ul.tabs li.current a {
  color: #2EA7E0;
  font-weight: 600;
}

/* -------------------------------------------------------------------------- */
.edu_cont, .cus01 {
  width: 1280px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.cus01 {
  padding-bottom: 40px;
}

.cus02 {
  background-color: #fafafa;
  text-align: center;
}

.cus_bg {
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  width: 1280px;
}

.cus01_mail {
  margin: 40px;
}

.cus_title {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -0.23px;
}

.cus_cont {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.github, .call {
  width: 50%;
}

.github {
  float: left;
}

.call {
  float: right;
}

.edu_title {
  display: block;
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  letter-spacing: -0.23px;
  padding-bottom: 20px;
}

.cus_kor {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -0.23px;
}

.cus_text {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 30px;
}

.eduimg img {
  width: 1280px;
}

.cus02 img {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-bottom: 95px;
}

.edu_cont ul {
  text-align: left;
  list-style-type: circle;
  line-height: 1.8;
}

/* 테이블 */
.edu_table {
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 95px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

caption {
  caption-side: bottom;
  text-align: right;
  padding-top: 15px;
}

th {
  border-top: 2px solid #206cb5;
  border-bottom: 1.5px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #eaeaea;
  padding: 15px;
}

td {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.rn, .bn {
  border-right: none;
}

.ny {
  text-align: left;
  padding-left: 30px;
}

.kj {
  background-color: #f5fafe;
}

/* -------------------------------------------------------------------------- */
/* 메일 보내기 */
aside {
    background: #1f8dd6; /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
}

textarea {
  width: 100%;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.is-center {
  text-align: center;
}

.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #2EA7E0;
}

.button-xlarge {
  font-size: 125%;
}

.form-elements button {
  float: right;
}

.form-elements {
  text-align: left;
}

#name {
  width: 100%
}

#email {
  width: 40%;
}

#phone {
  width: 40%;
}

.honeypot-field {
  display: none;
}

.clear {
  clear: both;
}

/*스마트폰*/
@media (min-width : 320px) and (max-width : 820px) {
  .navbar { width: 100%; }
  .topbar .icon { width: 100%; }
  .upperimg img { width: 100%; }
  .tab-cont { width: 100%; }
  ul .tabs { width: 100%; }
  .cus01 { width: 100%; }
  .cus_bg { width: 100%; }
}
/*테블릿*/
@media (min-width : 821px) and (max-width : 1280px) {
  .navbar { width: 100%; }
  .topbar .icon { width: 100%; }
  .upperimg img { width: 100%; }
  .tab-cont { width: 100%; }
  ul .tabs { width: 100%; }
  .cus01 { width: 100%; }
  .cus_bg { width: 100%; }
}
